<%-include("./partials/header")%>

    <!-- Form for feedback -->
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <h1 style="text-align: center;">Feedback</h1>
                <!-- Form -->
                <form class="form-example" action="/feedback" method="POST" onsubmit='disableButton()'>
                    <!-- Input fields -->
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" class="form-control username"
                            id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <input type="username" name="username" placeholder="Your Name" class="form-control username"
                            id="exampleInputUsername1" aria-describedby="usernameHelp" required>
                    </div>
                    <div class="form-group">
                        <input type="subject" name="subject" placeholder="Subject" class="form-control subject"
                            id="exampleInputsubject1" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" cols="80" type="text" name="description" placeholder="Description"
                            required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-customized" type="submit"
                        id="btn">Submit</button>
                </form>
                <!-- Form end -->
                <a style=" float: center;" href="/campGround"><button
                        style="border: none; background-color: transparent;"><span
                            style="color: rgb(0, 125, 241);">Back</span></button></a>
            </div>
        </div>
    </div>

    <%-include("./partials/footer")%>